USE [master]
GO
/****** Object:  Database [AlBaharTaskManagement]    Script Date: 11/19/2025 6:55:37 PM ******/
CREATE DATABASE [AlBaharTaskManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlBaharTaskManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AlBaharTaskManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlBaharTaskManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AlBaharTaskManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlBaharTaskManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlBaharTaskManagement]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CheckTaskDelegationPermission]    Script Date: 11/19/2025 6:55:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CheckTaskDelegationPermission](
    @delegatorUserID NVARCHAR(50),
    @delegateUserID NVARCHAR(50),
    @permissionType NVARCHAR(100)
) RETURNS BIT
AS
BEGIN
    DECLARE @has BIT = 0;

    -- Explicit grant via TaskDelegationPermissions
    IF EXISTS (
        SELECT 1
        FROM dbo.TaskDelegations td WITH (NOLOCK)
        INNER JOIN dbo.TaskDelegationPermissions tdp WITH (NOLOCK)
            ON tdp.DelegationID = td.DelegationID
        WHERE td.IsActive = 1
          AND td.DelegatorUserID = @delegatorUserID
          AND td.DelegateUserID = @delegateUserID
          AND (td.StartDate IS NULL OR td.StartDate <= GETDATE())
          AND (td.EndDate IS NULL OR td.EndDate >= GETDATE())
          AND LOWER(tdp.PermissionType) = LOWER(@permissionType)
          AND tdp.IsGranted = 1
    ) SET @has = 1;

    -- Full delegation grants all
    IF @has = 0 AND EXISTS (
        SELECT 1
        FROM dbo.TaskDelegations td WITH (NOLOCK)
        WHERE td.IsActive = 1
          AND td.DelegatorUserID = @delegatorUserID
          AND td.DelegateUserID = @delegateUserID
          AND (td.StartDate IS NULL OR td.StartDate <= GETDATE())
          AND (td.EndDate IS NULL OR td.EndDate >= GETDATE())
          AND LOWER(td.DelegationType) = 'full'
    ) SET @has = 1;

    RETURN @has;
END
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/19/2025 6:55:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[DepartmentID] [int] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryInformation]    Script Date: 11/19/2025 6:55:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryInformation](
	[InfoID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Content] [nvarchar](max) NULL,
	[OrderIndex] [int] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentNotifications]    Script Date: 11/19/2025 6:55:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentNotifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[CommentID] [int] NOT NULL,
	[TaskID] [int] NOT NULL,
	[CommentedByUserID] [nvarchar](50) NOT NULL,
	[NotifyUserID] [nvarchar](50) NOT NULL,
	[NotificationType] [nvarchar](50) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ReadAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 11/19/2025 6:55:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ActedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 11/19/2025 6:55:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalCalendarEvents]    Script Date: 11/19/2025 6:55:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalCalendarEvents](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](400) NOT NULL,
	[EventDate] [date] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Procedures]    Script Date: 11/19/2025 6:55:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procedures](
	[ProcedureID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[DepartmentID] [int] NULL,
	[IsPublic] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProcedureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcedureSubtasks]    Script Date: 11/19/2025 6:55:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcedureSubtasks](
	[ProcedureSubtaskID] [int] IDENTITY(1,1) NOT NULL,
	[ProcedureID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[DueDateOffset] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProcedureSubtaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationRequests]    Script Date: 11/19/2025 6:55:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[RequestDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subtasks]    Script Date: 11/19/2025 6:55:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subtasks](
	[SubtaskID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[AssignedTo] [nvarchar](50) NULL,
	[IsCompleted] [bit] NOT NULL,
	[DueDate] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[ShowInCalender] [bit] NULL,
	[ShowInCalendar] [bit] NOT NULL,
	[ActedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubtaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskAssignmentNotifications]    Script Date: 11/19/2025 6:55:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskAssignmentNotifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[AssignedToUserID] [nvarchar](50) NOT NULL,
	[AssignedByUserID] [nvarchar](50) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ReadAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskDelegationPermissions]    Script Date: 11/19/2025 6:55:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskDelegationPermissions](
	[DelegationPermissionID] [int] IDENTITY(1,1) NOT NULL,
	[DelegationID] [int] NOT NULL,
	[PermissionType] [nvarchar](100) NOT NULL,
	[IsGranted] [bit] NOT NULL,
 CONSTRAINT [PK_TaskDelegationPermissions] PRIMARY KEY CLUSTERED 
(
	[DelegationPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskDelegations]    Script Date: 11/19/2025 6:55:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskDelegations](
	[DelegationID] [int] IDENTITY(1,1) NOT NULL,
	[DelegatorUserID] [nvarchar](50) NOT NULL,
	[DelegateUserID] [nvarchar](50) NOT NULL,
	[DelegationType] [nvarchar](50) NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DelegationSecretHash] [nvarchar](256) NULL,
 CONSTRAINT [PK_TaskDelegations] PRIMARY KEY CLUSTERED 
(
	[DelegationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 11/19/2025 6:55:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[AssignedTo] [nvarchar](50) NULL,
	[CategoryID] [int] NULL,
	[ActedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskViews]    Script Date: 11/19/2025 6:55:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskViews](
	[ViewID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[LastViewedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ViewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 11/19/2025 6:55:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[TopicID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[DepartmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/19/2025 6:55:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DepartmentID] [int] NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[DelegationPasswordHash] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTaskPriorities]    Script Date: 11/19/2025 6:55:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTaskPriorities](
	[UserID] [nvarchar](50) NOT NULL,
	[TaskID] [int] NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_UserTaskPriorities] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CommentNotifications_NotifyUser_IsRead]    Script Date: 11/19/2025 6:55:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommentNotifications_NotifyUser_IsRead] ON [dbo].[CommentNotifications]
(
	[NotifyUserID] ASC,
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentNotifications_TaskID]    Script Date: 11/19/2025 6:55:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommentNotifications_TaskID] ON [dbo].[CommentNotifications]
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PersonalCalendarEvents_UserDate]    Script Date: 11/19/2025 6:55:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_PersonalCalendarEvents_UserDate] ON [dbo].[PersonalCalendarEvents]
(
	[UserID] ASC,
	[EventDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaskAssignmentNotifications_AssignedToUserID_IsRead]    Script Date: 11/19/2025 6:55:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskAssignmentNotifications_AssignedToUserID_IsRead] ON [dbo].[TaskAssignmentNotifications]
(
	[AssignedToUserID] ASC,
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskAssignmentNotifications_TaskID]    Script Date: 11/19/2025 6:55:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskAssignmentNotifications_TaskID] ON [dbo].[TaskAssignmentNotifications]
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaskDelegationPermissions_Delegation]    Script Date: 11/19/2025 6:55:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskDelegationPermissions_Delegation] ON [dbo].[TaskDelegationPermissions]
(
	[DelegationID] ASC,
	[PermissionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskDelegations_ActivePeriod]    Script Date: 11/19/2025 6:55:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskDelegations_ActivePeriod] ON [dbo].[TaskDelegations]
(
	[IsActive] ASC,
	[StartDate] ASC,
	[EndDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaskDelegations_Delegate]    Script Date: 11/19/2025 6:55:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskDelegations_Delegate] ON [dbo].[TaskDelegations]
(
	[DelegateUserID] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaskDelegations_Delegator]    Script Date: 11/19/2025 6:55:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskDelegations_Delegator] ON [dbo].[TaskDelegations]
(
	[DelegatorUserID] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tasks_CategoryID]    Script Date: 11/19/2025 6:55:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_CategoryID] ON [dbo].[Tasks]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaskViews_TaskID_UserID]    Script Date: 11/19/2025 6:55:38 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TaskViews_TaskID_UserID] ON [dbo].[TaskViews]
(
	[TaskID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserTaskPriorities_Priority]    Script Date: 11/19/2025 6:55:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserTaskPriorities_Priority] ON [dbo].[UserTaskPriorities]
(
	[Priority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTaskPriorities_TaskID]    Script Date: 11/19/2025 6:55:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserTaskPriorities_TaskID] ON [dbo].[UserTaskPriorities]
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserTaskPriorities_UserID]    Script Date: 11/19/2025 6:55:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserTaskPriorities_UserID] ON [dbo].[UserTaskPriorities]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CategoryInformation] ADD  DEFAULT ((0)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[CategoryInformation] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CategoryInformation] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CategoryInformation] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CommentNotifications] ADD  DEFAULT ('new_comment') FOR [NotificationType]
GO
ALTER TABLE [dbo].[CommentNotifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[CommentNotifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PersonalCalendarEvents] ADD  CONSTRAINT [DF_PersonalCalendarEvents_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Procedures] ADD  DEFAULT ((1)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[ProcedureSubtasks] ADD  DEFAULT ((0)) FOR [DueDateOffset]
GO
ALTER TABLE [dbo].[RegistrationRequests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[RegistrationRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Subtasks] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[Subtasks] ADD  CONSTRAINT [DF_Subtasks_ShowInCalendar]  DEFAULT ((0)) FOR [ShowInCalendar]
GO
ALTER TABLE [dbo].[TaskAssignmentNotifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[TaskAssignmentNotifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TaskDelegationPermissions] ADD  DEFAULT ((0)) FOR [IsGranted]
GO
ALTER TABLE [dbo].[TaskDelegations] ADD  DEFAULT ('limited') FOR [DelegationType]
GO
ALTER TABLE [dbo].[TaskDelegations] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TaskDelegations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ('normal') FOR [Priority]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ('open') FOR [Status]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TaskViews] ADD  DEFAULT (getdate()) FOR [LastViewedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserTaskPriorities] ADD  DEFAULT ('normal') FOR [Priority]
GO
ALTER TABLE [dbo].[UserTaskPriorities] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserTaskPriorities] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Departments]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Users]
GO
ALTER TABLE [dbo].[CategoryInformation]  WITH CHECK ADD  CONSTRAINT [FK_CategoryInformation_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryInformation] CHECK CONSTRAINT [FK_CategoryInformation_Categories]
GO
ALTER TABLE [dbo].[CategoryInformation]  WITH CHECK ADD  CONSTRAINT [FK_CategoryInformation_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CategoryInformation] CHECK CONSTRAINT [FK_CategoryInformation_Users]
GO
ALTER TABLE [dbo].[CommentNotifications]  WITH CHECK ADD FOREIGN KEY([CommentID])
REFERENCES [dbo].[Comments] ([CommentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentNotifications]  WITH CHECK ADD FOREIGN KEY([CommentedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CommentNotifications]  WITH CHECK ADD FOREIGN KEY([NotifyUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CommentNotifications]  WITH CHECK ADD FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Procedures]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Procedures]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[ProcedureSubtasks]  WITH CHECK ADD FOREIGN KEY([ProcedureID])
REFERENCES [dbo].[Procedures] ([ProcedureID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RegistrationRequests]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Subtasks]  WITH CHECK ADD FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Subtasks]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Subtasks]  WITH CHECK ADD FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskAssignmentNotifications]  WITH CHECK ADD  CONSTRAINT [FK_TaskAssignmentNotifications_AssignedBy] FOREIGN KEY([AssignedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TaskAssignmentNotifications] CHECK CONSTRAINT [FK_TaskAssignmentNotifications_AssignedBy]
GO
ALTER TABLE [dbo].[TaskAssignmentNotifications]  WITH CHECK ADD  CONSTRAINT [FK_TaskAssignmentNotifications_AssignedTo] FOREIGN KEY([AssignedToUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TaskAssignmentNotifications] CHECK CONSTRAINT [FK_TaskAssignmentNotifications_AssignedTo]
GO
ALTER TABLE [dbo].[TaskAssignmentNotifications]  WITH CHECK ADD  CONSTRAINT [FK_TaskAssignmentNotifications_Tasks] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskAssignmentNotifications] CHECK CONSTRAINT [FK_TaskAssignmentNotifications_Tasks]
GO
ALTER TABLE [dbo].[TaskDelegationPermissions]  WITH CHECK ADD  CONSTRAINT [FK_TaskDelegationPermissions_Delegation] FOREIGN KEY([DelegationID])
REFERENCES [dbo].[TaskDelegations] ([DelegationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskDelegationPermissions] CHECK CONSTRAINT [FK_TaskDelegationPermissions_Delegation]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_AssignedTo_Users] FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_AssignedTo_Users]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Categories]
GO
ALTER TABLE [dbo].[TaskViews]  WITH CHECK ADD  CONSTRAINT [FK_TaskViews_Tasks] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskViews] CHECK CONSTRAINT [FK_TaskViews_Tasks]
GO
ALTER TABLE [dbo].[TaskViews]  WITH CHECK ADD  CONSTRAINT [FK_TaskViews_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskViews] CHECK CONSTRAINT [FK_TaskViews_Users]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[UserTaskPriorities]  WITH CHECK ADD  CONSTRAINT [FK_UserTaskPriorities_Tasks] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTaskPriorities] CHECK CONSTRAINT [FK_UserTaskPriorities_Tasks]
GO
ALTER TABLE [dbo].[UserTaskPriorities]  WITH CHECK ADD  CONSTRAINT [FK_UserTaskPriorities_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTaskPriorities] CHECK CONSTRAINT [FK_UserTaskPriorities_Users]
GO
USE [master]
GO
